.App {
    padding: 2rem;
    width: 100%;
}

.Project-Container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.selected-project {
    border-color: teal;
}
